<?xml version="1.0" encoding="UTF-8"?>

<launch>
 <include file="$(find orbotox)/launch/world.launch"/>
 <!--include file="$(find orbotox)/launch/gmapping.launch"/-->
 <param name="robot_description" command="cat '$(find orbotox)/urdf/orbotox.urdf'"/>

 <arg name="x" default="0.5"/>
 <arg name="y" default="4.0"/>
 <arg name="z" default="0.5"/>

 <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model orbotox -x $(arg x) -y $(arg y) -z $(arg z)"/>

 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

 <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

 <!--node name="rviz" pkg="rviz" type="rviz" args=""/-->

</launch>
